{% extends "AppWeb/padre.html" %}


{% load static %}

{% block css %}
<link href="{% static 'AppWeb/css/buscarblogs.css' %}" rel="stylesheet" />
{% endblock %}

{% block titlo %}
{% endblock %}

{% block Descp %}
<form action="" method="POST">{% csrf_token %}

    <h1 style="color:#fff"  >{{blog.titulo}}</h1> <br> <br>
    <p style="color:#fff" >¿Seguro que queres elimar esta bitacota?</p>


    <input class="btn btn-primary btn-xl" type="submit" value = "Eliminar">
</form>
{% endblock %}
    
{% block Descp1 %}

{% endblock %}
{% block botonvermas %}

{% endblock %}