{% extends "AppWeb/padre.html" %}


{% load static %}

{% block titlo %}
Bienvenido a BlogCoder.
{{mensaje}}
{% endblock %}

{% block Descp %}
{% if request.user.is_authenticated %}

{% else %}
Deberias iniciar sesion!
{% endif %}
{% endblock %}

{% block Descp1 %}
Comparte tu experiencia en CoderHouse.                            
{% endblock %}

{% block Descp2 %}
Desde BlogCoder queremos que nos comentes tu experiencia de CoderHouse. Para que mas alumnos se animen a la experiencia Coder.        
{% endblock %}

{% block Descp3 %}
{% if request.user.is_authenticated %}
<a class="btn btn-light btn-xl" href="{% url 'CrearBlogs' %}">Sube algo!</a>
{% else %}
<a class="btn btn-light btn-xl" href="{% url 'login' %}">Inicia sesion!</a>
{% endif %}

{% endblock %}